VITE_APPWRITE_ENDPOINT=https://syd.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=your-project-id
VITE_APPWRITE_DATABASE_ID=verola
VITE_APPWRITE_ORGANISATION_COLLECTION_ID=organisations
VITE_APPWRITE_INVITE_FUNCTION_ID=your-function-id
VITE_APPWRITE_SMS_FUNCTION_ID=your-secure-sms-function-id
VITE_APPWRITE_LOGO_BUCKET_ID=organisation-logos
VITE_APP_URL=https://your-vercel-domain.vercel.app
